<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.xmdlab.org/dsl/application/ApplicationDsl" 
       class = "org.xmdlab.dsl.application.applicationDsl.ApplicationDslPackage"
       genModel = "model/generated/ApplicationDsl.genmodel" /> 
	
  </extension>



</plugin>
