<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PuppetSiteMm -->
      <package
            uri="http://xmdlab.org/puppet-site-mm"
            class="org.xmdlab.puppet.site.mm.MmPackage"
            genModel="model/PuppetSiteMm.xcore"/>
   </extension>

</plugin>
