<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated RailsApplicationMetamodel -->
      <package
            uri="org.xmdlab.rails.application.mm"
            class="org.xmdlab.rails.application.mm.ApplicationPackage"
            genModel="model/RailsApplicationMetamodel.xcore"/>
   </extension>

</plugin>
